<h1>My Rentals</h1>
<% @rentals.each do |r| %>
  <ul>
    <li><%= r.gear.brand %></li>
    <li><%= r.gear.model %></li>
    <li><%= r.starts_at %></li>
    <li><%= r.ends_at %></li>
    <li><%= r.total_price %></li>
    <li><%= r.status %></li>
  </ul>
<% end %>

<p><%= link_to "Return to dashboard", dashboard_path%></p>
