<div class="container">
  <h1>My Rentals</h1>
  <% if @rentals.length >= 1 %>
    <% @rentals.each do |r| %>
      <div class="card-product-rented">
        <% if r.gear.photos.attached? %>
          <%= cl_image_tag r.gear.photos.first.key %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <% end %>
        <div class="card-product-infos">
              <h2><%= r.gear.brand %></h2>
              <h3><%= r.gear.model %></h3>
              <p> <strong>Starting at : </strong><%= r.starts_at.strftime('%d/%m/%y') %></p>
              <p> <strong>Ends at : </strong><%= r.ends_at.strftime('%d/%m/%y') %></p>
              <p><%= r.status %></p>
              <h3><%= r.total_price%> £</h3>
        </div>
      </div>
    <% end %>
  <% end %>
  <p><%= link_to "Return to dashboard", dashboard_path%></p>
</div>
