<div class="container">
  <h1>My Rentals</h1>
  <% if @rentals.length > 1 %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <% @rentals.each do |r| %>
          <ul>
            <h2><%= r.gear.brand %></h2>
            <h3><%= r.gear.model %></h3>
            <li><%= r.starts_at %></li>
            <li><%= r.ends_at %></li>
            <li><%= r.total_price %></li>
            <li><%= r.status %></li>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>
  <p><%= link_to "Return to dashboard", dashboard_path%></p>
</div>
