<div class="container mt-5">
      <h2>Your new rental</h2>
      <ul>
        <li><%= @gear.brand%></li>
        <li><%= @gear.model%></li>
        <li><%= @gear.description%></li>
        <li><%= @gear.price_per_day %></li>
        <li><%= @gear.category %></li>
      </ul>
      <h2 class="mt-5">Adding more information</h2>


    </div>
  </div>
</div>
