<div class="">
  <div class="listing-images">
    # carousel image
  </div>
  <div class="rental-details">
    <div class="create-banner">
      <h1>Post your Listing</h1>
    </div>
    <div class="listing-form">
      <%= simple_form_for @gear do |f| %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :description %>
        <%= f.input :category %>
        <%= f.input :price_per_day %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
