<div class="container mt-5 py-5" id="">
  <div class="show-grid">
    <div class="left-show">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @gear.photos.size.times do |index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @gear.photos.map(&:key).each_with_index do |k,i| %>
          <div class="carousel-item <%= 'active' if i.zero? %>">
            <%= cl_image_tag k, class: "d-block w-100 carousel-image"%>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
    <div class="right-show">
      <h3> <%=@gear.brand.upcase %> - <%=@gear.model%> <span class="currency-symbol text-muted">$<%= number_with_delimiter(@gear.price_per_day) %> per day</span></h3>
      <hr>
      <div class="mb-3">
        <span class="category-span px-3 py-2 mb-3"><%= @gear.category %></span>
      </div>
      <h6 class="text-muted mb-0"><%=@gear.description%></h6> <br>
      <hr>
      <h5>Rent</h5>
      <%= simple_form_for [@gear, @rental] do |f| %>
        <div class="row">
          <div class="col-6">
            <%= f.input :starts_at, html5: true, as: :date, input_html: { value: Date.today } %>
          </div>
          <div class="col-6">
            <%= f.input :ends_at, html5: true, as: :date, input_html: { value: Date.today }  %>
          </div>
        </div>
        <% f.input :status %>
        <%= hidden_field_tag :total_price %>
        <p class="total-price d-none" data-price="<%= @gear.price_per_day %>"></p>
        <h5>Add payment information</h5>
        <label for="p">Card number</label>
        <input type="text" class="form-control mb-3" placeholder="1644 2842 3323 2364">
        <%= f.submit class: 'btn rent-btn' %>
      <% end %>
    </div>
  </div>
</div>

