<div class="container" id="show-body">
  <div class="show-images">
<<<<<<< Updated upstream
    <%= image_tag %>
=======
    <%= image_tag "snowboarding.jpg", id: "show-image"%>
>>>>>>> Stashed changes
  </div>
  <div class="show-info">
    <div class="show-title">
      <h2><%= @gear.brand.upcase %></h2>
    </div>
    <div class="show-info-description">
      <h3><%= @gear.model.upcase %></h3>
      <h4><%= @gear.category %></h4>
      <p><%= @gear.description.capitalize %></p>
      <p>£<%= @gear.price_per_day %> per day</p>
      </div>
      <%= link_to "Rent Now", new_gear_rental_path(@gear), class: "btn btn-primary rent-now-btn" %>
  </div>
  <%#= link_to "Rent Now", %>
</div>

