<div class="container" id="show-body">
  <div class="show-images">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "sb2.jpg", class: "d-block w-100"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "sb1.jpg", class: "d-block w-100"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "sb3.jpg", class: "d-block w-100"%>
        </div>
        <div class="carousel-item">
          <%= image_tag "sb4.jpg", class: "d-block w-100"%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="show-info">
      <div class="show-title">
        <h2><%= @gear.brand.upcase %></h2>
      </div>
      <div class="show-info-description">
        <h3><%= @gear.model.upcase %></h3>
        <h4><%= @gear.category %></h4>
        <p><%= @gear.description.capitalize %></p>
        <p>£<%= @gear.price_per_day %> per day</p>
      </div>
      <%= link_to "Rent Now", new_gear_rental_path(@gear), class: "btn btn-primary rent-now-btn" %>
    </div>
    <%#= link_to "Rent Now", %>
  </div>

