<!DOCTYPE html>
<html>
  <head>
    <title>Sportsbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'components/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <script>
      // avatar navbar menu
      const avatar = document.getElementById("profile-avatar");
      console.log(avatar);
      const dropdown = document.querySelector(".dropdown");
      avatar.addEventListener("click", (e) => {
        console.log("hello");
        console.log(e.currentTarget);
        dropdown.classList.toggle("d-none");
      });
    </script>
  </body>
</html>
