<!DOCTYPE html>
<html>
  <head>
    <title>Sportsbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'components/navbar' %>
    <%= render 'components/flashes' %>
    <div class="main-container">
      <%= yield %>
    </div>
    <%= render 'components/footer' %>
  </body>

  <script>
     {/* nav bar active class */}
    let navBtns = document.querySelectorAll('.nav-item');
    for (let i = 0; i < navBtns.length; i++) {
      console.log(navBtns);
      navBtns[i].addEventListener('click', (e) => {
        this.classList.toggle('.active');
        this.nextSibling.classList.toggle('active');
    })
  };
</script>
</html>
